*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
body{
    padding: 0 250px;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
nav div{
    display: flex;
    align-items: center;
    gap: 20px;
}
header img{
    width: 1400px;
    height: 900px;
}
header {
    padding-bottom: 120px;
}
.s1 h1{
    margin-bottom: 40px;
}
.s1-wrapper h1{
    font-size: 23px;
    margin-top: 18px;
}
.s1-wrapper{
    display: flex;
    align-items: center;
    width: 1780px;
    justify-content: start;
    gap: 120px;
}
footer{
    padding: 100px 0;
    margin-top: 120px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer-ul{
    display: flex;
    align-items: start;
    gap: 180px;
}
.footer-ul li{
    list-style: none;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}